@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-0.5rem);
    }
    75% {
        transform: translateX(0.5rem);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalAppearsRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes modalAppearsLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-modal-open {
    animation: modalAppearsRight 0.5s ease-in-out;
}

.animate-modal-close {
    animation: modalAppearsLeft 0.5s ease-in-out;
}

.animate-shake {
    animation: shake 0.2s ease-in-out;
}

.animate-fade-in {
    animation: fadeIn 0.8s ease-in-out;
}

.gradient-black-to-gray {
    background-image: linear-gradient(
        to right,
        rgb(15, 15, 15),
        rgb(54, 53, 53)
    );
}

.form-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: #404040;
    --tw-shadow: var(--tw-shadow-colored);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
body {
    @apply text-base;
    font-family: var(--font-zen), sans-serif;
    color: rgb(var(--foreground-rgb));
    background-color: #202020;

    @media (max-width: 1200px) {
        font-size: 16px;
    }

    @media (max-width: 992px) {
        font-size: 14px;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
